

.header{
    font-family: 'Lobster Two', sans-serif;
    .logo{
        font-size: 35px;
        i:first-child{
            font-size: 35px;
            margin-right: 10px;
            transform: scale(1);
            background: -webkit-linear-gradient($colourprimery, $coloursecondary);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
// #shopIcon{
//     position: absolute;
//     top: 20px;
//     right: -4px;
//     color: white;
//     font-size: 12px;
//     font-weight: 600;
//     background: rgb(17, 23, 83);
//     border-radius: 50%;
//     width: 20px;
//     height: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

