
/********************************* produits | accueil page 1 ***********************************/

.imgaBg{
    margin-top: -220px;
    background: url('../images/camera.jpg') top no-repeat;
    width: 100%;
    height: 90vh;
}
.caption{
    position: relative;
    font-family: 'Lobster', sans-serif;
    top: 300px;
    width: 100%;
    h4{
        max-width: 50%;
        margin: auto auto auto auto;
        padding: 10px 0 0;
    }
}

.produit{
    font-family: 'Lobster', sans-serif;
}
.all_products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 40px;
    .cardBody{
        flex: 1 220px;
        color: #000;
        background: #ffffff;
        // box-shadow: 4px 2px 2px #888888;
        border-radius: 10px;
        box-shadow: 4px 2px 2px #c7c7c7;
        overflow: hidden;
        transform: scale(1);
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(0.95);
            box-shadow: 0 0 0 0 #1f1f1f;
        }
        &:hover img{
            transform: scale(1.2);
        }
        &_image{
            // width: 100%;
            overflow: hidden;
            img{
                border-radius: 10px 10px 0 0;
                width: 100%;
                max-height: 190px;
                object-fit: cover;
                object-position: left center;
                transition: all .4s ease-in-out;
                cursor:pointer;
            }
        }
        &_pct_infos{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding: 20px 15px;
        }
        &_buttonContainer{
            display: flex;
            justify-content: center;
            padding: 0 0 22px;
            &-buttonItem{
                border: 1px solid #e2e2e2;
                border-radius: 6px;
                padding: 8px 20px;
                background: #e2e2e2;
                transition: all .4s ease;
                cursor: pointer;
                &:hover{
                    background: #fff;
                    border: 1px solid #969696 ;
                }
                &_buttonLink{
                    text-decoration: none;
                    font-size: 14px;
                    color: #000;
                }
            }
        }
    }
}
@include only_table; 
@include only_phone;   


// // section confirmation page 4
// .confirmBg{
//     position: fixed;
//     padding-top: 10rem;
//     // background-: url('../../images/vcam_3.jpg');
//     background: #181818;
//     color: white;
//     height: 100%;
//     width: 100%;
// }
